html {
  box-sizing: border-box;
  color: white;
  font-family: "Mooli", sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: antiquewhite;
}
#card {
  width: 900px;
  height: 700px;
  margin: auto;
  margin-top: 40px;
  -webkit-box-shadow: 6px 3px 40px -1px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 6px 3px 40px -1px rgba(0, 0, 0, 0.77);
  box-shadow: 6px 3px 40px -1px rgba(0, 0, 0, 0.77);
  border-radius: 5px;
  overflow: hidden;
}
#top-section {
  height: 45%;
  padding: 30px;
  margin: 0px;
  background-color: #7fffd451;
}

#bottom-section {
  height: 55%;
  margin: 0px;
  /* display: flex; */
}
#bottom-left {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  width: 50%;
  height: 100%;
  padding: 30px;
  background-color: #68e8e2;
}
#bottom-right {
  width: 50%;
  margin: 0px;
  height: 100%;
  padding: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #66ccaa;
}

#bottom-left h2,
#bottom-right h2 {
  font-size: 2rem;
}
#top-section h2 {
  color: #66ccaa;
  font-size: 2.5rem;
  margin: 0px;
  padding: 10px;
}
#top-section h4 {
  color: #66ccaa;
  font-size: 2rem;
  margin: 0px;
  padding: 10px;
}
#top-section p {
  color: darkgray;
  padding: 10px;
  margin: 0%;
  font-size: 1.5rem;
}
ul {
  padding: 0%;
  list-style-type: none;
}
li {
  font-size: 1.5rem;
  margin: 5px;
}
button {
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #68e8e2;
  background-color: white;
  font-size: 30px;
}
button:hover {
  cursor: pointer;
  color: black;
  -webkit-box-shadow: 6px 3px 40px -1px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 6px 3px 40px -1px rgba(0, 0, 0, 0.77);
  box-shadow: 6px 3px 40px -1px rgba(0, 0, 0, 0.77);
}
/* unvisited link */
a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: dotted;
  font-size: 1.75rem;
}
/* @media (max-height: 650px){
  #card{
    height: 100%;
    display: flex;
  }
} */
@media (max-width: 850px) {
  #bottom-left,
  #bottom-right {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  #card{
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
  }
}
